.Profile {
    padding-top:2vw;
}
.Profile-header {
    text-align: center;
    font-size: 28px;
}

.Profile form{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.Profile form input {
    width:100%;
}

.Profile-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.Profile-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.Profile-inputgroup{
    padding-top: 20px;
    padding-bottom: 60px;
}

.Profile-newpwwarning {
    font-size: 12px;
    font-weight:bold;
    color:red;
}

.Profile-button {
    display: block;
    border-radius:50px;
    margin-top:20px;
    width:200px;
    height:40px;
    left:50%;
    right:50%;
    background-color:#0275d8;
    color:white;
    border: 0;
}

.Profile-button:hover{
    background-color:#0088ff;
}

@media screen and (max-width: 900px) {
    .Profile-col-25, .Profile-col-75 {
      width: 100%;
      margin-top: 0;
    display:block;
    }
    .Profile-button {
        width:100%;
    }
  }