.DeleteDeckConfirmation {
    position:absolute;
    height:270px;
    width:300px;
    border-radius:20px;
    background-color: #9e9e9e;
    z-index:6;
}

.DeleteDeckConfirmation-form {
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}

.DeleteDeckConfirmation-form label{

}

.DeleteDeckConfirmation-form input{

}

.DeleteDeckConfirmation-form button {
    position:relative;
    top:0%;
    font-size:25px;
    width:100%;
    height:40px;
    color:white;
    border: 0;
    border-radius: 50px;
    background-color:#d9534f;
}