.EditDeckColumn {
    display:flex;
    flex-direction: column;
    height:100%;
    box-shadow:0 0 10px rgba(0,0,0,0.6);
}
.EditDeckColumn-deck {
    height:100%;
}

.EditDeckColumn-cards {
    padding-top:5px;
    height:100%;
    overflow: scroll;
}

