.MyDecks {
    display:flex;
    flex-direction: row;
    flex-basis: 33.33%;
    width:100%;
    height:100%;
    margin-top:2vh;
}
.MyDecks-decklist {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:5vh;
    width:100%;
    justify-content: space-evenly;
}

.MyDecks-editdeck {
    width:100%;
    height:100%;
}