.StoreSearch-form input {
    width:75%;
    margin: 0 0 20px 15px;
}

.StoreSearch-form select {
    width:75%;
    margin: 0 0 20px 15px;
}

.StoreSearch-form label {
    margin: 10px 0 0 15px;
}

.StoreSearch-input {
    border-bottom: 2px solid #cccccc;
}

.StoreSearch-buttons {
    margin-top: 10px;
    display:inline-block;
    width:100%;
}

.StoreSearch-apply {
    float:left;
    font-size:14px;
    margin-left:auto;
    margin-right:auto;
    border-radius:50px 0 0 50px;
    width:49%;
    height:40px;
    background-color:#0275d8;
    color:white;
    border: 0;
}

.StoreSearch-reset {
    float:right;
    font-size:14px;
    margin-left:auto;
    margin-right:auto;
    border-radius:0 50px 50px 0;
    width:49%;
    height:40px;
    background-color:#d9534f;
    color:white;
    border: 0;
}

.StoreSearch-apply:hover {
    background-color:#0088ff;
}
.StoreSearch-reset:hover {
    background-color:#ff6761;
}