.Notification {
    position:absolute;
    top:100px;
    width: 65%;
    height:50px;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:50px;
    color:white;
    font-weight:bold;
    font-size:20px;
    z-index:60;
}

.Notification-closebutton {
    position:absolute;
    top:0%;
    right:1%;
    width:25px;
}

.Notification-message p {
    padding-left:20px;
    padding-top:5px;
}